.taskCard {
    border-radius: 8px;
    border: 1px solid #cccccc;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #eeeeee;
    cursor: pointer;
    transition: border-color 0.25s;
}

.iconoEliminar {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  color: darkred;
  margin-right: 5px;
  transform: translateY(-50%);
}

.iconoEditar {
  display: none;
  position: absolute;
  right: 30px;
  top: 50%;
  color: #007ba7;
  margin-right: 5px;
  transform: translateY(-50%);
}
  
li:hover .botonEnHover {
  display: block;
}

.taskInput {
  border-radius: 8px;
  border: 1px solid #cccccc;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eeeeee;
  cursor: pointer;
  transition: border-color 0.25s;
}